@purple: #922be0;
@white: #ffffff;
@red: #ff3030;
@yellow: #fcff52;
@green: #3bff30;
@black: #000000;

.margenes(@top:0px, @bottom:0px, @p-top:0px, @p-right:0px, @p-bottom:0px, @p-left:0px, @color1){
    margin-top: @top;
    margin-bottom: @bottom;
    padding-top: @p-top;
    padding-right: @p-right;
    padding-bottom: @p-bottom;
    padding-left: @p-left;
    color: @color1;
}

.margenes2(@top1:0px, @bottom1:0px, @color2){
    margin-top: @top1;
    margin-bottom: @bottom1;
    color: @color2;
}

.jumbotron {
    background-color: @purple;
    .margenes2(50px,15px,@white);
}
  
  footer {
    background-color: @purple;
    .margenes(10px,0px,10px,10px,0px,10px,@white);
}
  
  .card-hotel {
    .margenes(10px,10px,0px,0px,0px,0px,@black); 
}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  
  .carousel-inner {
    padding-top: 10px; }
  