.jumbotron {
  background-color: #922be0;
  margin-top: 50px;
  margin-bottom: 15px;
  color: #ffffff; }

footer {
  background-color: #922be0;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  color: #ffffff; }

.card-hotel {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: #000000; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

.carousel-inner {
  padding-top: 10px; }
