$purple:  #922be0;
$yellow: #fcff52;
$red: #ff3030;
$green: #3bff30;
$white: #ffffff;
$black: #000000;

@mixin margenes($top,$bottom,$p-top,$p-right,$p-bottom,$p-left,$color1) {
    margin-top: $top;
    margin-bottom: $bottom;
    padding-top: $p-top;
    padding-right:$p-right;
    padding-bottom: $p-bottom;
    padding-left:$p-left;
    color: $color1;
}

@mixin margenes2($top1,$bottom1,$color2) {
    margin-top: $top1;
    margin-bottom: $bottom1;
    color: $color2;
}

.jumbotron{
    background-color: $purple;
    @include margenes2(50px,15px,$white);
}

footer{
    background-color: $purple;
    @include margenes(10px,0px,10px,10px,0px,10px,$white);
}

.card-hotel{
    @include margenes(10px,0px,0px,0px,0px,0px,$black);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px;
}

.carousel-inner{
    padding-top: 10px;
}